<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://javra.com/wp-content/themes/javra-software/assets/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://javra.com/wp-content/themes/javra-software/assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://javra.com/wp-content/themes/javra-software/assets/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://javra.com/wp-content/themes/javra-software/assets/fav/favicon-16x16.png">
    <link rel="manifest" href="https://javra.com/wp-content/themes/javra-software/assets/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://javra.com/wp-content/themes/javra-software/assets/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta http-equiv="”Content-Security-Policy”" content="”upgrade-insecure-requests”">
    <title>Managed Services | Javra Software B.V.</title>

<!-- All in One SEO Pack 3.3.5 by Michael Torbert of Semper Fi Web Design[2660,2711] -->
<meta name="description" content="Managed IT Services Achieve greater goals with your IT department while we keep the lights on. We keep your IT environment healthy and safe! Managing the IT">

<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="application/ld+json" class="aioseop-schema">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://javra.com/#organization","url":"https://javra.com/","name":"Javra Software B.V.","sameAs":[]},{"@type":"WebSite","@id":"https://javra.com/#website","url":"https://javra.com/","name":"Javra Software B.V.","publisher":{"@id":"https://javra.com/#organization"},"potentialAction":{"@type":"SearchAction","target":"https://javra.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"https://javra.com/managed-services/#webpage","url":"https://javra.com/managed-services/","inLanguage":"en-US","name":"Managed Services","isPartOf":{"@id":"https://javra.com/#website"},"datePublished":"2019-07-02T08:38:57+00:00","dateModified":"2020-02-13T06:36:43+00:00"}]}</script>
<link rel="canonical" href="https://javra.com/managed-services/">
<meta property="og:type" content="article">
<meta property="og:title" content="Managed Services | Javra Software B.V.">
<meta property="og:description" content="Managed IT Services Achieve greater goals with your IT department while we keep the lights on. We keep your IT environment healthy and safe! Managing the IT environment is usually not a core activity">
<meta property="og:url" content="https://javra.com/managed-services/">
<meta property="og:site_name" content="Javra Software B.V.">
<meta property="og:image" content="https://javra.com/wp-content/uploads/2020/01/photo-1502945015378-0e284ca1a5be-e1558510128619.jpeg">
<meta property="article:published_time" content="2019-07-02T08:38:57Z">
<meta property="article:modified_time" content="2020-02-13T06:36:43Z">
<meta property="og:image:secure_url" content="https://javra.com/wp-content/uploads/2020/01/photo-1502945015378-0e284ca1a5be-e1558510128619.jpeg">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Managed Services | Javra Software B.V.">
<meta name="twitter:description" content="Managed IT Services Achieve greater goals with your IT department while we keep the lights on. We keep your IT environment healthy and safe! Managing the IT environment is usually not a core activity">
<meta name="twitter:image" content="https://javra.com/wp-content/uploads/2020/01/photo-1502945015378-0e284ca1a5be-e1558510128619.jpeg">
<!-- All in One SEO Pack -->
<link rel="dns-prefetch" href="//unpkg.com">
<link rel="dns-prefetch" href="//code.ionicframework.com">
<link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="Javra Software B.V. » Feed" href="https://javra.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Javra Software B.V. » Comments Feed" href="https://javra.com/comments/feed/">
<link rel="stylesheet" id="wp-block-library-css" href="https://javra.com/wp-includes/css/dist/block-library/style.min.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="https://javra.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.6" type="text/css" media="all">
<link rel="stylesheet" id="cookie-law-info-css" href="https://javra.com/wp-content/plugins/cookie-law-info/public/css/cookie-law-info-public.css?ver=1.8.3" type="text/css" media="all">
<link rel="stylesheet" id="cookie-law-info-gdpr-css" href="https://javra.com/wp-content/plugins/cookie-law-info/public/css/cookie-law-info-gdpr.css?ver=1.8.3" type="text/css" media="all">
<link rel="stylesheet" id="socialsnap-styles-css" href="https://javra.com/wp-content/plugins/socialsnap/assets/css/socialsnap.css?ver=1.1.5.2" type="text/css" media="all">
<link rel="stylesheet" id="javra-software-style-css" href="https://javra.com/wp-content/themes/javra-software/style.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="ionicons-css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="fontawesome-css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="theme-style-css" href="https://javra.com/wp-content/themes/javra-software/style.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="owl-style-css" href="https://javra.com/wp-content/themes/javra-software/js/owlcarousel/assets/owl.carousel.min.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="elementor-icons-css" href="https://javra.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.5.0" type="text/css" media="all">
<link rel="stylesheet" id="elementor-animations-css" href="https://javra.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.8.5" type="text/css" media="all">
<link rel="stylesheet" id="elementor-frontend-css" href="https://javra.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.8.5" type="text/css" media="all">
<style id="elementor-frontend-inline-css" type="text/css">
.elementor-section.elementor-section-boxed > .elementor-container{max-width:1300px;}
.elementor-12904 .elementor-element.elementor-element-4c0c617c > .elementor-container{max-width:700px;min-height:250px;}.elementor-12904 .elementor-element.elementor-element-4c0c617c > .elementor-container:after{content:"";min-height:inherit;}.elementor-12904 .elementor-element.elementor-element-4c0c617c > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-12904 .elementor-element.elementor-element-4c0c617c:not(.elementor-motion-effects-element-type-background), .elementor-12904 .elementor-element.elementor-element-4c0c617c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;background-image:url("https://javra.com/wp-content/uploads/2019/12/support.png");background-position:center left;background-size:cover;}.elementor-12904 .elementor-element.elementor-element-4c0c617c > .elementor-background-overlay{background-color:#000000;opacity:0.6;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-4c0c617c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 0px 100px 0px;}.elementor-12904 .elementor-element.elementor-element-23287df6 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-12904 .elementor-element.elementor-element-1f07b4ee{text-align:center;}.elementor-12904 .elementor-element.elementor-element-1f07b4ee.elementor-widget-heading .elementor-heading-title{color:#ffffff;}.elementor-12904 .elementor-element.elementor-element-1f07b4ee .elementor-heading-title{font-family:"Work Sans", Sans-serif;font-size:60px;font-weight:600;line-height:1.2em;letter-spacing:1px;}.elementor-12904 .elementor-element.elementor-element-1f07b4ee > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-12904 .elementor-element.elementor-element-4220d5fb .elementor-text-editor{text-align:center;}.elementor-12904 .elementor-element.elementor-element-4220d5fb{color:#ffffff;font-size:20px;font-weight:500;line-height:1.6em;}.elementor-12904 .elementor-element.elementor-element-752b5cc9:not(.elementor-motion-effects-element-type-background), .elementor-12904 .elementor-element.elementor-element-752b5cc9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F3FCFB;}.elementor-12904 .elementor-element.elementor-element-752b5cc9{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:70px 0px 100px 0px;}.elementor-12904 .elementor-element.elementor-element-752b5cc9 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-12904 .elementor-element.elementor-element-62ae7609.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-12904 .elementor-element.elementor-element-62ae7609.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-12904 .elementor-element.elementor-element-62ae7609 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-12904 .elementor-element.elementor-element-62ae7609:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-62ae7609 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-12904 .elementor-element.elementor-element-62ae7609 > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-62ae7609 > .elementor-element-populated > .elementor-background-overlay, .elementor-12904 .elementor-element.elementor-element-62ae7609 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-62ae7609 > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.12);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 20px 0px 0px;padding:3em 4em 2em 4em;}.elementor-12904 .elementor-element.elementor-element-62ae7609 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-7f308ebd{padding:0em 0em 0em 0em;}.elementor-12904 .elementor-element.elementor-element-27701d06 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-12904 .elementor-element.elementor-element-27701d06:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-27701d06 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:rgba(255,255,255,0);}.elementor-12904 .elementor-element.elementor-element-27701d06 > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-27701d06 > .elementor-element-populated > .elementor-background-overlay, .elementor-12904 .elementor-element.elementor-element-27701d06 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-27701d06 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0em 0em 0em 0em;}.elementor-12904 .elementor-element.elementor-element-27701d06 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-46110ece{text-align:left;}.elementor-12904 .elementor-element.elementor-element-46110ece.elementor-widget-heading .elementor-heading-title{color:#212529;}.elementor-12904 .elementor-element.elementor-element-46110ece .elementor-heading-title{font-family:"Work Sans", Sans-serif;font-size:25px;line-height:1.2em;letter-spacing:0.5px;}.elementor-12904 .elementor-element.elementor-element-46110ece > .elementor-widget-container{padding:0px 0px 5px 0px;}.elementor-12904 .elementor-element.elementor-element-7650eae4 .elementor-text-editor{text-align:left;}.elementor-12904 .elementor-element.elementor-element-7650eae4{color:#606372;font-family:"Palanquin", Sans-serif;font-size:1.1em;font-weight:400;line-height:1.555em;}.elementor-12904 .elementor-element.elementor-element-7650eae4 > .elementor-widget-container{padding:0em 0em 0em 0em;}.elementor-bc-flex-widget .elementor-12904 .elementor-element.elementor-element-450b0345.elementor-column .elementor-column-wrap{align-items:center;}.elementor-12904 .elementor-element.elementor-element-450b0345.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-12904 .elementor-element.elementor-element-450b0345:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-450b0345 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;background-image:url("https://javra.com/wp-content/uploads/2020/01/helloquence-5fNmWej4tAA-unsplash.jpg");background-position:center center;background-size:cover;}.elementor-12904 .elementor-element.elementor-element-450b0345 > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-450b0345 > .elementor-element-populated > .elementor-background-overlay, .elementor-12904 .elementor-element.elementor-element-450b0345 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-450b0345 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 20px;padding:1em 5em 1em 1em;}.elementor-12904 .elementor-element.elementor-element-450b0345 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-f0cd2a1 .elementor-image img{width:100%;opacity:1;transition-duration:0.3s;border-radius:12px 12px 12px 12px;box-shadow:13px 13px 0px 0px rgba(87,84,254,0.05);}.elementor-12904 .elementor-element.elementor-element-f0cd2a1 .elementor-image:hover img{opacity:1;}.elementor-12904 .elementor-element.elementor-element-f0cd2a1{width:200px;max-width:200px;top:403px;}body:not(.rtl) .elementor-12904 .elementor-element.elementor-element-f0cd2a1{left:430px;}body.rtl .elementor-12904 .elementor-element.elementor-element-f0cd2a1{right:430px;}.elementor-12904 .elementor-element.elementor-element-6bd222be, .elementor-12904 .elementor-element.elementor-element-6bd222be > .elementor-background-overlay{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-6bd222be{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.3);margin-top:0px;margin-bottom:0px;}.elementor-12904 .elementor-element.elementor-element-3270a738:not(.elementor-motion-effects-element-type-background), .elementor-12904 .elementor-element.elementor-element-3270a738 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F3FCFB;}.elementor-12904 .elementor-element.elementor-element-3270a738{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:80px;padding:0px 0px 0px 0px;z-index:1;}.elementor-12904 .elementor-element.elementor-element-3270a738 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-3ed86db7 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-12904 .elementor-element.elementor-element-3ed86db7:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-3ed86db7 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-12904 .elementor-element.elementor-element-3ed86db7 > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-3ed86db7 > .elementor-element-populated > .elementor-background-overlay, .elementor-12904 .elementor-element.elementor-element-3ed86db7 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-3ed86db7 > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.12);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 40px 0px 0px;padding:2em 4em 0em 4em;}.elementor-12904 .elementor-element.elementor-element-3ed86db7 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-6913d79a .elementor-image img{box-shadow:0px 0px 42px 0px rgba(0, 0, 0, 0.2);}.elementor-12904 .elementor-element.elementor-element-53239f97:not(.elementor-motion-effects-element-type-background), .elementor-12904 .elementor-element.elementor-element-53239f97 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-12904 .elementor-element.elementor-element-53239f97{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:70px 0px 100px 0px;}.elementor-12904 .elementor-element.elementor-element-53239f97 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-12904 .elementor-element.elementor-element-1314b2f6.elementor-column .elementor-column-wrap{align-items:center;}.elementor-12904 .elementor-element.elementor-element-1314b2f6.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-12904 .elementor-element.elementor-element-1314b2f6:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-1314b2f6 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;background-image:url("https://javra.com/wp-content/uploads/2020/01/template-20-3.png");background-position:center center;background-size:cover;}.elementor-12904 .elementor-element.elementor-element-1314b2f6 > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-1314b2f6 > .elementor-element-populated > .elementor-background-overlay, .elementor-12904 .elementor-element.elementor-element-1314b2f6 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-1314b2f6 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 20px 0px 0px;padding:1em 5em 1em 1em;}.elementor-12904 .elementor-element.elementor-element-1314b2f6 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-226c2b43, .elementor-12904 .elementor-element.elementor-element-226c2b43 > .elementor-background-overlay{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-226c2b43{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.3);margin-top:0px;margin-bottom:0px;}.elementor-12904 .elementor-element.elementor-element-1f066d2d{text-align:center;width:200px;max-width:200px;top:154px;}.elementor-12904 .elementor-element.elementor-element-1f066d2d .elementor-image img{width:100%;max-width:100%;opacity:1;transition-duration:0.3s;border-radius:12px 12px 12px 12px;box-shadow:-13px 13px 0px 0px rgba(87,84,254,0.05);}.elementor-12904 .elementor-element.elementor-element-1f066d2d .elementor-image:hover img{opacity:1;}.elementor-12904 .elementor-element.elementor-element-1f066d2d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body:not(.rtl) .elementor-12904 .elementor-element.elementor-element-1f066d2d{left:-311px;}body.rtl .elementor-12904 .elementor-element.elementor-element-1f066d2d{right:-311px;}.elementor-bc-flex-widget .elementor-12904 .elementor-element.elementor-element-222cb20e.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-12904 .elementor-element.elementor-element-222cb20e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-12904 .elementor-element.elementor-element-222cb20e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-12904 .elementor-element.elementor-element-222cb20e:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-222cb20e > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-12904 .elementor-element.elementor-element-222cb20e > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-222cb20e > .elementor-element-populated > .elementor-background-overlay, .elementor-12904 .elementor-element.elementor-element-222cb20e > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-222cb20e > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.12);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 20px;padding:3em 4em 2em 4em;}.elementor-12904 .elementor-element.elementor-element-222cb20e > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-8e1c4af{padding:0em 0em 0em 0em;}.elementor-12904 .elementor-element.elementor-element-61cd013d > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-12904 .elementor-element.elementor-element-61cd013d:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-61cd013d > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:rgba(255,255,255,0);}.elementor-12904 .elementor-element.elementor-element-61cd013d > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-61cd013d > .elementor-element-populated > .elementor-background-overlay, .elementor-12904 .elementor-element.elementor-element-61cd013d > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-61cd013d > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0em 0em 0em 0em;}.elementor-12904 .elementor-element.elementor-element-61cd013d > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-e655804{text-align:left;}.elementor-12904 .elementor-element.elementor-element-e655804.elementor-widget-heading .elementor-heading-title{color:#212529;}.elementor-12904 .elementor-element.elementor-element-e655804 .elementor-heading-title{font-family:"Work Sans", Sans-serif;font-size:25px;line-height:1.2em;letter-spacing:0.5px;}.elementor-12904 .elementor-element.elementor-element-e655804 > .elementor-widget-container{padding:0px 0px 5px 0px;}.elementor-12904 .elementor-element.elementor-element-125fe6ca .elementor-text-editor{text-align:left;}.elementor-12904 .elementor-element.elementor-element-125fe6ca{color:#606372;font-family:"Palanquin", Sans-serif;font-size:1.1em;font-weight:400;line-height:1.555em;}.elementor-12904 .elementor-element.elementor-element-125fe6ca > .elementor-widget-container{padding:0em 0em 0em 0em;}.elementor-12904 .elementor-element.elementor-element-3d3e172e:not(.elementor-motion-effects-element-type-background), .elementor-12904 .elementor-element.elementor-element-3d3e172e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-12904 .elementor-element.elementor-element-3d3e172e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:80px;padding:0px 0px 0px 0px;z-index:1;}.elementor-12904 .elementor-element.elementor-element-3d3e172e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-b82b7e5 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-12904 .elementor-element.elementor-element-b82b7e5:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-b82b7e5 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-12904 .elementor-element.elementor-element-b82b7e5 > .elementor-element-populated, .elementor-12904 .elementor-element.elementor-element-b82b7e5 > .elementor-element-populated > .elementor-background-overlay, .elementor-12904 .elementor-element.elementor-element-b82b7e5 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-12904 .elementor-element.elementor-element-b82b7e5 > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.12);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 40px 0px 0px;padding:2em 4em 0em 4em;}.elementor-12904 .elementor-element.elementor-element-b82b7e5 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12904 .elementor-element.elementor-element-4652645b .elementor-image img{box-shadow:0px 0px 42px 0px rgba(0, 0, 0, 0.2);}@media(max-width:1024px){.elementor-12904 .elementor-element.elementor-element-4c0c617c > .elementor-container{min-height:300px;}.elementor-12904 .elementor-element.elementor-element-4c0c617c > .elementor-container:after{content:"";min-height:inherit;}.elementor-12904 .elementor-element.elementor-element-4c0c617c{padding:100px 25px 100px 25px;}.elementor-12904 .elementor-element.elementor-element-1f07b4ee .elementor-heading-title{font-size:40px;}.elementor-12904 .elementor-element.elementor-element-4220d5fb{font-size:16px;}.elementor-12904 .elementor-element.elementor-element-752b5cc9{padding:1em 1em 1em 1em;}.elementor-12904 .elementor-element.elementor-element-7f308ebd{padding:0px 0px 0px 0px;}.elementor-12904 .elementor-element.elementor-element-46110ece .elementor-heading-title{font-size:35px;}.elementor-12904 .elementor-element.elementor-element-450b0345 > .elementor-element-populated{padding:1em 1em 1em 1em;}.elementor-12904 .elementor-element.elementor-element-f0cd2a1 .elementor-image img{width:48%;}body:not(.rtl) .elementor-12904 .elementor-element.elementor-element-f0cd2a1{left:160px;}body.rtl .elementor-12904 .elementor-element.elementor-element-f0cd2a1{right:160px;}.elementor-12904 .elementor-element.elementor-element-f0cd2a1{top:198px;}.elementor-12904 .elementor-element.elementor-element-3270a738{margin-top:0px;margin-bottom:0px;padding:20px 0px 20px 0px;}.elementor-12904 .elementor-element.elementor-element-3ed86db7 > .elementor-element-populated{margin:0px 20px 0px 20px;padding:0em 0em 0em 0em;}.elementor-12904 .elementor-element.elementor-element-6913d79a .elementor-image img{width:100%;border-radius:5px 5px 5px 5px;}.elementor-12904 .elementor-element.elementor-element-53239f97{padding:1em 1em 1em 1em;}.elementor-12904 .elementor-element.elementor-element-1314b2f6 > .elementor-element-populated{padding:1em 1em 1em 1em;}.elementor-12904 .elementor-element.elementor-element-1f066d2d .elementor-image img{width:48%;}body:not(.rtl) .elementor-12904 .elementor-element.elementor-element-1f066d2d{left:160px;}body.rtl .elementor-12904 .elementor-element.elementor-element-1f066d2d{right:160px;}.elementor-12904 .elementor-element.elementor-element-1f066d2d{top:198px;}.elementor-12904 .elementor-element.elementor-element-8e1c4af{padding:0px 0px 0px 0px;}.elementor-12904 .elementor-element.elementor-element-e655804 .elementor-heading-title{font-size:35px;}.elementor-12904 .elementor-element.elementor-element-3d3e172e{margin-top:0px;margin-bottom:0px;padding:20px 0px 20px 0px;}.elementor-12904 .elementor-element.elementor-element-b82b7e5 > .elementor-element-populated{margin:0px 20px 0px 20px;padding:0em 0em 0em 0em;}.elementor-12904 .elementor-element.elementor-element-4652645b .elementor-image img{width:100%;border-radius:5px 5px 5px 5px;}}@media(max-width:767px){.elementor-12904 .elementor-element.elementor-element-4c0c617c > .elementor-container{min-height:200px;}.elementor-12904 .elementor-element.elementor-element-4c0c617c > .elementor-container:after{content:"";min-height:inherit;}.elementor-12904 .elementor-element.elementor-element-4c0c617c{padding:50px 20px 50px 20px;}.elementor-12904 .elementor-element.elementor-element-1f07b4ee .elementor-heading-title{font-size:30px;}.elementor-12904 .elementor-element.elementor-element-4220d5fb{font-size:14px;}.elementor-12904 .elementor-element.elementor-element-752b5cc9{padding:30px 20px 30px 20px;}.elementor-12904 .elementor-element.elementor-element-62ae7609 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:1em 1em 1em 1em;}.elementor-12904 .elementor-element.elementor-element-7f308ebd{padding:0px 0px 0px 0px;}.elementor-12904 .elementor-element.elementor-element-46110ece .elementor-heading-title{font-size:25px;}body:not(.rtl) .elementor-12904 .elementor-element.elementor-element-f0cd2a1{left:61px;}body.rtl .elementor-12904 .elementor-element.elementor-element-f0cd2a1{right:61px;}.elementor-12904 .elementor-element.elementor-element-f0cd2a1{top:181px;}.elementor-12904 .elementor-element.elementor-element-3270a738{padding:0px 0px 0px 0px;}.elementor-12904 .elementor-element.elementor-element-3ed86db7 > .elementor-element-populated{padding:0em 0em 0em 0em;}.elementor-12904 .elementor-element.elementor-element-53239f97{padding:30px 20px 30px 20px;}body:not(.rtl) .elementor-12904 .elementor-element.elementor-element-1f066d2d{left:61px;}body.rtl .elementor-12904 .elementor-element.elementor-element-1f066d2d{right:61px;}.elementor-12904 .elementor-element.elementor-element-1f066d2d{top:181px;}.elementor-12904 .elementor-element.elementor-element-222cb20e > .elementor-element-populated{margin:0px 0px 0px 0px;padding:1em 1em 1em 1em;}.elementor-12904 .elementor-element.elementor-element-8e1c4af{padding:0px 0px 0px 0px;}.elementor-12904 .elementor-element.elementor-element-e655804 .elementor-heading-title{font-size:25px;}.elementor-12904 .elementor-element.elementor-element-3d3e172e{margin-top:0px;margin-bottom:50px;padding:0px 0px 0px 0px;}.elementor-12904 .elementor-element.elementor-element-b82b7e5 > .elementor-element-populated{padding:0em 0em 0em 0em;}}@media(min-width:768px){.elementor-12904 .elementor-element.elementor-element-62ae7609{width:50%;}.elementor-12904 .elementor-element.elementor-element-450b0345{width:50%;}.elementor-12904 .elementor-element.elementor-element-1314b2f6{width:50%;}.elementor-12904 .elementor-element.elementor-element-222cb20e{width:50%;}}@media(max-width:1024px) and (min-width:768px){.elementor-12904 .elementor-element.elementor-element-62ae7609{width:100%;}.elementor-12904 .elementor-element.elementor-element-450b0345{width:100%;}.elementor-12904 .elementor-element.elementor-element-3ed86db7{width:100%;}.elementor-12904 .elementor-element.elementor-element-1314b2f6{width:100%;}.elementor-12904 .elementor-element.elementor-element-222cb20e{width:100%;}.elementor-12904 .elementor-element.elementor-element-b82b7e5{width:100%;}}
</style>
<link rel="stylesheet" id="lae-animate-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/animate.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-sliders-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/sliders.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-icomoon-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/icomoon.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-frontend-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/lae-frontend.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-widgets-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/lae-widgets.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-5-all-css" href="https://javra.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/all.min.css?ver=2.8.5" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-4-shim-css" href="https://javra.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min.css?ver=2.8.5" type="text/css" media="all">
<link rel="stylesheet" id="gradient-button-elementor-frontend-style-css" href="https://javra.com/wp-content/plugins/gradient-button-for-elementor/assets/css/frontend.css?ver=1.0.2" type="text/css" media="all">
<link rel="stylesheet" id="google-fonts-1-css" href="https://fonts.googleapis.com/css?family=Work+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPalanquin%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.2.2" type="text/css" media="all">
<!--n2css--><script type="text/javascript" src="https://javra.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>
<script type="text/javascript" src="https://javra.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var Cli_Data = {"nn_cookie_ids":[],"cookielist":[]};
var log_object = {"ajax_url":"https:\/\/javra.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="https://javra.com/wp-content/plugins/cookie-law-info/public/js/cookie-law-info-public.js?ver=1.8.3"></script>
<script type="text/javascript" src="https://javra.com/wp-content/plugins/wp-google-analytics/wp-google-analytics.js?ver=0.0.3"></script>
<script type="text/javascript" src="https://javra.com/wp-content/plugins/elementor/assets/lib/font-awesome/js/v4-shims.min.js?ver=2.8.5"></script>
<link rel="https://api.w.org/" href="https://javra.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://javra.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://javra.com/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 5.2.2">
<link rel="shortlink" href="https://javra.com/?p=12904">
<link rel="alternate" type="application/json+oembed" href="https://javra.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fjavra.com%2Fmanaged-services%2F">
        <script type="text/javascript">
            (function () {
                window.lae_fs = {can_use_premium_code: false};
            })();
        </script>
        <meta name="generator" content="Site Kit by Google 1.34.1"><!-- This code is added by WP Analytify (3.0.0) https://analytify.io/downloads/analytify-wordpress-plugin/ !-->				 <script>
				 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				 })

				 (window,document,'script','//www.google-analytics.com/analytics.js','ga');
				 	ga('create', 'UA-43570163-1', 'auto', {'allowLinker': true});ga('require', 'linker');ga('require', 'displayfeatures');ga('send', 'pageview');				 </script>

				 <!-- This code is added by WP Analytify (3.0.0) !-->		<style type="text/css" id="wp-custom-css">
			

/** Start Envato Elements CSS: STEM School (31-3-4002f7697450289dd8c14d79a1aaf5be) **/

/*--------------------------------------------------------------
>>> Collection 28 Custom Styles
--------------------------------------------------------------*/
.collection-28-curriculum-title{
	font-size:1.5em;
	line-height:1em;
}
.collection-28-curriculum{
	list-style-type:none;
	margin:0;
	padding:0;
}

.collection-28-curriculum li{
	list-style-type:none;
	padding:15px 0;
	margin:0;
	line-height:1em;
	font-weight:700;
	font-size:1em;
	border-bottom:1px solid #f0f0f0;
}


/** End Envato Elements CSS: STEM School (31-3-4002f7697450289dd8c14d79a1aaf5be) **/



/** Start Envato Elements CSS: Internet Company (196-3-c34cf4e6e385d14c4ccda531967d17a2) **/

/* Envato Custom css - applied to the advanced tab of the element it affects */
.envato-kit-200-progress .elementor-progress-wrapper,
.envato-kit-200-progress .elementor-progress-bar{
	border-radius: 30px;
}

/** End Envato Elements CSS: Internet Company (196-3-c34cf4e6e385d14c4ccda531967d17a2) **/



/** Start Envato Elements CSS: Tech (general business) (171-3-7eeb504fef9cb2162a4da0a664ed05a3) **/

/* Envato Template Kits Custom Styles
 * Apply to the Advanced tab of the element it affects
 * Illustrations by Humaaans
 */
.envato-kit-175-slide .slick-slide-bg.elementor-ken-out, .envato-kit-175-slide .slick-slide-bg.elementor-ken-in{
transform: scale(1.2);
}
.envato-kit-175-slide .slick-slider .slick-track{
	overflow: visible !important;
}
 /* List Style with icon BG */
.envato-kit-175-list-style-light .elementor-icon-list-icon {
		width: 50px !important;
}

.envato-kit-175-list-style-light .elementor-icon-list-icon i {
		padding: 0.75em;
		border-radius: 50%;
		background-color: #F5F7FF;
}

.envato-kit-175-list-style-extra .elementor-icon-list-icon {
		width: 50px !important;
}

.envato-kit-175-list-style-extra .elementor-icon-list-icon i {
		padding: 0.75em;
		border-radius: 50%;
		background-color: #FFB200;
}

.envato-kit-175-list-style-dark .elementor-icon-list-icon {
		width: 50px !important;
}

.envato-kit-175-list-style-dark .elementor-icon-list-icon i {
		padding: 0.75em;
		border-radius: 50%;
		background-color: #3235D8;
}
/* Accordion shadow*/
.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item {
		margin: 10px 0;
		border-radius: 20px;
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item:first-child {
		margin-top: 0;
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item .elementor-active {
		margin-bottom: 30px;
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item .elementor-tab-title {
		margin-bottom: 0;
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active {
		padding-bottom: 0;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item {
		margin: 30px 0;
		border: 10px solid #F5F7FF !important;
		border-radius: 20px;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item:first-child {
		margin-top: 0;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item .elementor-active {
		margin-bottom: 30px;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item .elementor-tab-title {
		margin-bottom: 0;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active {
		padding-bottom: 0;
}


.envato-kit-175-img-box-style .elementor-image-box-title {
		margin-top: 0;
}

.envato-kit-175-icon-box-style .elementor-icon-box-title {
		margin: 0;
}
/* Left-Aligned Pricing Tables */
.envato-kit-175-price-style .elementor-price-table {
		text-align: left;
}

.envato-kit-175-price-style .elementor-price-table .elementor-price-table__price {
		justify-content: start;
}


.envato-kit-175-price-style .elementor-price-table__features-list {
		text-align: left !important;
}

.envato-kit-175-price-style .elementor-price-table .elementor-price-table__features-list li .elementor-price-table__feature-inner  {
		margin-left: 0;
		margin-right: 0;
}

.envato-kit-175-price-style .elementor-price-table__feature-inner i {
		font-size: 1em;
		font-weight: 100;
		padding: 0.45em;
		border-radius: 50%;
		background-color: #f4f4f4;
	color: #ff4935 !important;
}

.envato-kit-175-price-style-extra .elementor-price-table {
		text-align: left;
}

.envato-kit-175-price-style-extra .elementor-price-table .elementor-price-table__price {
		justify-content: start;
}

.envato-kit-175-price-style-extra .elementor-price-table__features-list {
		text-align: left !important;
}

.envato-kit-175-price-style-extra .elementor-price-table .elementor-price-table__features-list li .elementor-price-table__feature-inner  {
		margin-left: 0;
		margin-right: 0;
}

.envato-kit-175-price-style-extra .elementor-price-table__feature-inner i {
		font-size: 1em;
		font-weight: 100;
		padding: 0.45em;
		border-radius: 50%;
		background-color: #f4f4f4;
}

.envato-kit-175-row-hover-style .elementor-column-wrap .elementor-heading-title {
		opacity: 0;
		transition: all .3s ease-in-out; 
}

.envato-kit-175-row-hover-style .elementor-column-wrap:hover .elementor-heading-title {
		opacity: 1; 
}


/** End Envato Elements CSS: Tech (general business) (171-3-7eeb504fef9cb2162a4da0a664ed05a3) **/



/** Start Envato Elements CSS: Social Media Consultant (165-3-9ce8c739f357b7e2adfaa19888a72e81) **/

/* Custom Embed Play Button */
.envato-kit-169-play-button .elementor-custom-embed-play {
	    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
    border-radius: 50%;
    height: 80px;
    border: 0;
    box-shadow: 0 0 0 15px rgba(255,255,255,.4);
	  -webkit-transition: .25s;
	  -moz-transition: .25s;
    transition: .25s;
    background: #fff;
}
.envato-kit-169-play-button .eicon-play {
	display: none;
}
.envato-kit-169-play-button .elementor-custom-embed-play:before {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 50%;
    margin-left: -4px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent #212529;
}
.envato-kit-169-play-button:hover .elementor-custom-embed-play {
	    
    box-shadow: 0 0 0 10px rgba(255,255,255,.2);
}

/** End Envato Elements CSS: Social Media Consultant (165-3-9ce8c739f357b7e2adfaa19888a72e81) **/



/** Start Envato Elements CSS: Insurance (30-3-509236f77923f6d33d921087956434d0) **/

/* Envato custom css for elementor kit 27 */
/* Icons from https://www.flaticon.com/ */

/* Tab */
.tab-content{
  width:65%;
	float:left;
}
.tab-img{
	width:35%;
	float:left;
	padding-right: 30px;
}

.tab-content h3{
	font-size: 28px;
	font-weight:700;
	color:#222;
}
.elementor-widget-tabs .elementor-tab-content{
	background:#fff;
	padding:40px;
}
.elementor-widget-tabs .elementor-tab-title.elementor-active{
	background:#fff;
}
.elementor-widget-tabs .elementor-tab-title{
	padding: 20px 45px;
}

/* Team single Progress Bar */
.team-info{
	color:#a7a7a7;
	margin-bottom:5px;
	font-family: Sans-serif;
}

.team-info i{
	margin-right:6px;
}

/* Progress bar */
.elementor-progress-wrapper{
	height: 20px;
	line-height: 20px;
}

/* Responsive Mobile */
@media (max-width : 767px){
	.tab-content {
			width: 100%;
	}
	.tab-img{
		width:100%;
		padding-right: 0;
	}
	.tab-content h3{
		font-size: 20px;
		margin-top: 20px;
	}
}

/* Global */
h3:first-child{
   padding-top: 0;
	 margin-top:0;
}



/** End Envato Elements CSS: Insurance (30-3-509236f77923f6d33d921087956434d0) **/



/** Start Envato Elements CSS: Winery (89-3-caa589d723d52042b24b880dea8598fd) **/

/* Kit 98 Custom Styles - apply under Advanced to the element they affect */
/* Subheading side line */
.envato-kit-98-line-before .elementor-heading-title:before {
	  content: '';
	  border-bottom: 1px solid;
    width: 48px;
    height: 1px;
    margin-right: 11px;
    display: inline-block;
    margin-bottom: 3px;
    opacity: .6;
}
/* Subheading lines on both sides */
.envato-kit-98-line-sides .elementor-heading-title:before {
	  content: '';
	  border-bottom: 1px solid;
    width: 48px;
    height: 1px;
    margin-right: 11px;
    display: inline-block;
    margin-bottom: 3px;
    opacity: .6;
}
.envato-kit-98-line-sides .elementor-heading-title:after {
	  content: '';
	  border-bottom: 1px solid;
    width: 48px;
    height: 1px;
    margin-left: 11px;
    display: inline-block;
    margin-bottom: 3px;
    opacity: .6;
}
/* Slider overlay */
.envato-kit-98-overlay .elementor-background-overlay{
   background: linear-gradient(to right, rgba(255,255,255,.1) 20%,rgba(255,255,255,1) 100%);
   mix-blend-mode: unset !important;
}
/* Typography */
.envato-kit-98-link a {
	color: #878787;
}

.envato-kit-98-link a:hover {
	border-bottom: 1px dashed;
}

/** End Envato Elements CSS: Winery (89-3-caa589d723d52042b24b880dea8598fd) **/
.main-navigation .right-nav {
    width: auto;
    padding-left: 0;
}


footer .mc4wp-response
{
	    position: absolute;
    font-size: 12px;
    bottom: -40px;
    right: 45px;
}
b, strong {
    font-family: inherit;
}
.address_block {
    margin-bottom: 0px;
}
.email-block a 
{
	font-size:15px;
}

@media only screen and (max-width: 768px) {
	.address_block p {
    font-size: 15px;
    text-decoration: none;
}
#contactinformation_widget-3 .address_block p:before {
display:none;
}
}		</style>




        <style>
            .mobile{
                display: none;
            }

            .not-mobile{
                    display: block;
                }

            /* Responsive Mobile */
            @media (max-width : 767px){
                .tab-content {
                        width: 100%;
                }
                .tab-img{
                    width:100%;
                    padding-right: 0;
                }
                .tab-content h3{
                    font-size: 20px;
                    margin-top: 20px;
                }

                .mobile{
                    display: block;
                }
                
                .not-mobile{
                    display: none;
                }
            }
            .imgBackground{
                background-color:#FFFFFF;
                background-image: url(getSrc());
                background-repeat: no-repeat; 
                background-size: cover;
            }
            /* Global */
            h3:first-child{
            padding-top: 0;
                margin-top:0;
            }
        </style>
    </head>

    <body>
	{% block initialBlock %}

				 {{
            pimcore_areablock('initialBlock', {
                'allowed': [                    
                    'about_us1',
					'bg_Img'
                    
                ]
            })
        }}

				{% endblock %}

                
       <div class="container">
        	<div class="row">
				<div class="col-lg-6 mb-4">
					<div class="card text-left">
						<div class="card-body">
						<br>
							<h5 class="card-title">{{pimcore_input('box1title1')}}</h5>
							<p class="card-text">
							{{pimcore_wysiwyg('box1subtitle1')}}
							</p>
						</div>
					</div>
				</div>
			<br>
				<div class="col-lg-6 mb-4">
					<div class="card">
						<div class="card-body">
							{{pimcore_image('image1',{'thumbnail':'pimcore'})}}
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    
		
		<br>


		<div class="container">
			<div class="row">
				
					<div class="col-lg-6 mb-4">
						<div class="card">
							<div class="card-body">
							<div class="not-mobile">
							{{pimcore_image('image2',{'thumbnail':'pimcore'})}}	
							</div>	
						</div>
					</div>
				</div>
				<br>
				<div class="col-lg-6 mb-4">
					<div class="card text-left">
						<div class="card-body">
						<br>
							<h5 class="card-title">{{pimcore_input('box1title2')}}</h5>
							<p class="card-text">
									{{pimcore_wysiwyg('box1subtitle2')}}
							</p>				
						</div>
					</div>
				</div>
				
					<div class="col-lg-6 mb-4">
						<div class="card">
							<div class="card-body">
							<div class="mobile">
							{{pimcore_image('image2m',{'thumbnail':'pimcore'})}}	
							</div>	
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
		    
    </body>
</html>