<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://javra.com/wp-content/themes/javra-software/assets/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://javra.com/wp-content/themes/javra-software/assets/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://javra.com/wp-content/themes/javra-software/assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://javra.com/wp-content/themes/javra-software/assets/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://javra.com/wp-content/themes/javra-software/assets/fav/favicon-16x16.png">
    <link rel="manifest" href="https://javra.com/wp-content/themes/javra-software/assets/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://javra.com/wp-content/themes/javra-software/assets/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta http-equiv="”Content-Security-Policy”" content="”upgrade-insecure-requests”">
    <title>Product | Javra Software B.V.</title>

<!-- All in One SEO Pack 3.3.5 by Michael Torbert of Semper Fi Web Design[2660,2702] -->
<meta name="description" content="Products A small selection of our in-house developed products BoonDrive Boondrive is the media management application for marketers and communication">

<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="application/ld+json" class="aioseop-schema">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://javra.com/#organization","url":"https://javra.com/","name":"Javra Software B.V.","sameAs":[]},{"@type":"WebSite","@id":"https://javra.com/#website","url":"https://javra.com/","name":"Javra Software B.V.","publisher":{"@id":"https://javra.com/#organization"},"potentialAction":{"@type":"SearchAction","target":"https://javra.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"https://javra.com/product/#webpage","url":"https://javra.com/product/","inLanguage":"en-US","name":"Product","isPartOf":{"@id":"https://javra.com/#website"},"datePublished":"2017-08-28T11:20:29+00:00","dateModified":"2021-12-13T10:42:49+00:00"}]}</script>
<link rel="canonical" href="https://javra.com/product/">
<meta property="og:type" content="article">
<meta property="og:title" content="Product | Javra Software B.V.">
<meta property="og:description" content="Products A small selection of our in-house developed products BoonDrive Boondrive is the media management application for marketers and communication professionals. Safely store, organize and share al">
<meta property="og:url" content="https://javra.com/product/">
<meta property="og:site_name" content="Javra Software B.V.">
<meta property="og:image" content="https://javra.com/wp-content/uploads/2020/01/photo-1502945015378-0e284ca1a5be-e1558510128619.jpeg">
<meta property="article:published_time" content="2017-08-28T11:20:29Z">
<meta property="article:modified_time" content="2021-12-13T10:42:49Z">
<meta property="og:image:secure_url" content="https://javra.com/wp-content/uploads/2020/01/photo-1502945015378-0e284ca1a5be-e1558510128619.jpeg">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Product | Javra Software B.V.">
<meta name="twitter:description" content="Products A small selection of our in-house developed products BoonDrive Boondrive is the media management application for marketers and communication professionals. Safely store, organize and share al">
<meta name="twitter:image" content="https://javra.com/wp-content/uploads/2020/01/photo-1502945015378-0e284ca1a5be-e1558510128619.jpeg">
<!-- All in One SEO Pack -->
<link rel="dns-prefetch" href="//unpkg.com">
<link rel="dns-prefetch" href="//code.ionicframework.com">
<link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="Javra Software B.V. » Feed" href="https://javra.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Javra Software B.V. » Comments Feed" href="https://javra.com/comments/feed/">
<link rel="stylesheet" id="wp-block-library-css" href="https://javra.com/wp-includes/css/dist/block-library/style.min.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="https://javra.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.6" type="text/css" media="all">
<link rel="stylesheet" id="cookie-law-info-css" href="https://javra.com/wp-content/plugins/cookie-law-info/public/css/cookie-law-info-public.css?ver=1.8.3" type="text/css" media="all">
<link rel="stylesheet" id="cookie-law-info-gdpr-css" href="https://javra.com/wp-content/plugins/cookie-law-info/public/css/cookie-law-info-gdpr.css?ver=1.8.3" type="text/css" media="all">
<link rel="stylesheet" id="socialsnap-styles-css" href="https://javra.com/wp-content/plugins/socialsnap/assets/css/socialsnap.css?ver=1.1.5.2" type="text/css" media="all">
<link rel="stylesheet" id="javra-software-style-css" href="https://javra.com/wp-content/themes/javra-software/style.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="ionicons-css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="fontawesome-css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="theme-style-css" href="https://javra.com/wp-content/themes/javra-software/style.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="owl-style-css" href="https://javra.com/wp-content/themes/javra-software/js/owlcarousel/assets/owl.carousel.min.css?ver=5.2.2" type="text/css" media="all">
<link rel="stylesheet" id="elementor-icons-css" href="https://javra.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.5.0" type="text/css" media="all">
<link rel="stylesheet" id="elementor-animations-css" href="https://javra.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.8.5" type="text/css" media="all">
<link rel="stylesheet" id="elementor-frontend-css" href="https://javra.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.8.5" type="text/css" media="all">
<style id="elementor-frontend-inline-css" type="text/css">
.elementor-section.elementor-section-boxed > .elementor-container{max-width:1300px;}
.elementor-11529 .elementor-element.elementor-element-29c93bc6 > .elementor-container{max-width:785px;min-height:200px;}.elementor-11529 .elementor-element.elementor-element-29c93bc6 > .elementor-container:after{content:"";min-height:inherit;}.elementor-11529 .elementor-element.elementor-element-29c93bc6 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-11529 .elementor-element.elementor-element-29c93bc6:not(.elementor-motion-effects-element-type-background), .elementor-11529 .elementor-element.elementor-element-29c93bc6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;background-image:url("https://javra.com/wp-content/uploads/2020/01/markus-spiske-FXFz-sW0uwo-unsplash.jpg");background-position:center center;background-size:cover;}.elementor-11529 .elementor-element.elementor-element-29c93bc6 > .elementor-background-overlay{background-color:#126028;opacity:0;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11529 .elementor-element.elementor-element-29c93bc6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 0px 100px 0px;}.elementor-11529 .elementor-element.elementor-element-5604698 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-11529 .elementor-element.elementor-element-16e00e67{text-align:center;}.elementor-11529 .elementor-element.elementor-element-16e00e67.elementor-widget-heading .elementor-heading-title{color:#ffffff;}.elementor-11529 .elementor-element.elementor-element-16e00e67 .elementor-heading-title{font-size:60px;font-weight:600;line-height:1.4em;letter-spacing:1px;}.elementor-11529 .elementor-element.elementor-element-16e00e67 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-fcf195b .elementor-text-editor{text-align:center;}.elementor-11529 .elementor-element.elementor-element-fcf195b{color:#ffffff;font-size:20px;}.elementor-11529 .elementor-element.elementor-element-d8a27a > .elementor-container{max-width:1300px;}.elementor-11529 .elementor-element.elementor-element-d8a27a > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-11529 .elementor-element.elementor-element-d8a27a:not(.elementor-motion-effects-element-type-background), .elementor-11529 .elementor-element.elementor-element-d8a27a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f3fcfb;}.elementor-11529 .elementor-element.elementor-element-d8a27a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:70px 0px 35px 0px;}.elementor-11529 .elementor-element.elementor-element-d8a27a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-11529 .elementor-element.elementor-element-1b4e260b.elementor-column .elementor-column-wrap{align-items:center;}.elementor-11529 .elementor-element.elementor-element-1b4e260b.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-11529 .elementor-element.elementor-element-1b4e260b > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-11529 .elementor-element.elementor-element-1b4e260b:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-1b4e260b > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-11529 .elementor-element.elementor-element-1b4e260b > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-1b4e260b > .elementor-element-populated > .elementor-background-overlay, .elementor-11529 .elementor-element.elementor-element-1b4e260b > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-11529 .elementor-element.elementor-element-1b4e260b > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.12);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 20px 0px 0px;padding:3em 4em 1em 4em;}.elementor-11529 .elementor-element.elementor-element-1b4e260b > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11529 .elementor-element.elementor-element-5b70d354{text-align:left;}.elementor-11529 .elementor-element.elementor-element-5b70d354.elementor-widget-heading .elementor-heading-title{color:#242424;}.elementor-11529 .elementor-element.elementor-element-5b70d354 .elementor-heading-title{font-family:"Work Sans", Sans-serif;font-size:25px;font-weight:600;line-height:1.3em;}.elementor-11529 .elementor-element.elementor-element-5b70d354 > .elementor-widget-container{padding:0px 0px 5px 0px;}.elementor-11529 .elementor-element.elementor-element-7c73a853{color:#666666;font-family:"Palanquin", Sans-serif;font-weight:400;line-height:1.6em;}.elementor-11529 .elementor-element.elementor-element-7c73a853 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-c71893c > .elementor-container{max-width:802px;}.elementor-11529 .elementor-element.elementor-element-c71893c{margin-top:0px;margin-bottom:0px;padding:30px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-cb9d77f.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-11529 .elementor-element.elementor-element-cb9d77f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-11529 .elementor-element.elementor-element-cb9d77f > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-5257f0aa a.elementor-button, .elementor-11529 .elementor-element.elementor-element-5257f0aa .elementor-button{font-family:"Palanquin", Sans-serif;font-size:15px;font-weight:500;background-color:transparent;background-image:linear-gradient(180deg, #1bc187 0%, #00de91 100%);border-radius:5px 5px 5px 5px;padding:14.5px 30px 14.5px 30px;}.elementor-11529 .elementor-element.elementor-element-5257f0aa .elementor-button{box-shadow:0px 24px 48px 0px rgba(17,16,62,0.12);}.elementor-11529 .elementor-element.elementor-element-5257f0aa a.elementor-button:hover, .elementor-11529 .elementor-element.elementor-element-5257f0aa .elementor-button:hover{box-shadow:0px 5px 10px 0px rgba(17,16,62,0.12);}.elementor-11529 .elementor-element.elementor-element-5257f0aa > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-6f8a20a.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-11529 .elementor-element.elementor-element-6f8a20a > .elementor-element-populated{margin:0px 0px 0px 10px;}.elementor-bc-flex-widget .elementor-11529 .elementor-element.elementor-element-34a5b264.elementor-column .elementor-column-wrap{align-items:center;}.elementor-11529 .elementor-element.elementor-element-34a5b264.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-11529 .elementor-element.elementor-element-34a5b264:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-34a5b264 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff);}.elementor-11529 .elementor-element.elementor-element-34a5b264 > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-34a5b264 > .elementor-element-populated > .elementor-background-overlay, .elementor-11529 .elementor-element.elementor-element-34a5b264 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-11529 .elementor-element.elementor-element-34a5b264 > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.3);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 20px;padding:2em 2em 1em 2em;}.elementor-11529 .elementor-element.elementor-element-34a5b264 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11529 .elementor-element.elementor-element-5cc98be8:not(.elementor-motion-effects-element-type-background), .elementor-11529 .elementor-element.elementor-element-5cc98be8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f3fcfb;}.elementor-11529 .elementor-element.elementor-element-5cc98be8{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:80px;padding:0px 0px 0px 0px;z-index:1;}.elementor-11529 .elementor-element.elementor-element-5cc98be8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11529 .elementor-element.elementor-element-365b9f09 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-11529 .elementor-element.elementor-element-365b9f09:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-365b9f09 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-11529 .elementor-element.elementor-element-365b9f09 > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-365b9f09 > .elementor-element-populated > .elementor-background-overlay, .elementor-11529 .elementor-element.elementor-element-365b9f09 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-11529 .elementor-element.elementor-element-365b9f09 > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.12);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 40px 0px 0px;padding:2em 4em 0em 4em;}.elementor-11529 .elementor-element.elementor-element-365b9f09 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11529 .elementor-element.elementor-element-266467ad .elementor-image img{box-shadow:0px 0px 42px 0px rgba(0, 0, 0, 0.2);}.elementor-11529 .elementor-element.elementor-element-f2903ca > .elementor-container{max-width:1300px;}.elementor-11529 .elementor-element.elementor-element-f2903ca > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-11529 .elementor-element.elementor-element-f2903ca:not(.elementor-motion-effects-element-type-background), .elementor-11529 .elementor-element.elementor-element-f2903ca > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f3fcfb;}.elementor-11529 .elementor-element.elementor-element-f2903ca{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:35px 0px 70px 0px;}.elementor-11529 .elementor-element.elementor-element-f2903ca > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-11529 .elementor-element.elementor-element-68a1dee.elementor-column .elementor-column-wrap{align-items:center;}.elementor-11529 .elementor-element.elementor-element-68a1dee.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-11529 .elementor-element.elementor-element-68a1dee:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-68a1dee > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;background-image:url("https://javra.com/wp-content/uploads/2019/07/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg");background-position:center center;background-size:cover;}.elementor-11529 .elementor-element.elementor-element-68a1dee > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-68a1dee > .elementor-element-populated > .elementor-background-overlay, .elementor-11529 .elementor-element.elementor-element-68a1dee > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-11529 .elementor-element.elementor-element-68a1dee > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.3);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 20px 0px 0px;padding:2em 2em 1em 2em;}.elementor-11529 .elementor-element.elementor-element-68a1dee > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-11529 .elementor-element.elementor-element-25600d9.elementor-column .elementor-column-wrap{align-items:center;}.elementor-11529 .elementor-element.elementor-element-25600d9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-11529 .elementor-element.elementor-element-25600d9 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-11529 .elementor-element.elementor-element-25600d9:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-25600d9 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-11529 .elementor-element.elementor-element-25600d9 > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-25600d9 > .elementor-element-populated > .elementor-background-overlay, .elementor-11529 .elementor-element.elementor-element-25600d9 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-11529 .elementor-element.elementor-element-25600d9 > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.12);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 20px;padding:3em 4em 1em 4em;}.elementor-11529 .elementor-element.elementor-element-25600d9 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11529 .elementor-element.elementor-element-8de508b{text-align:left;}.elementor-11529 .elementor-element.elementor-element-8de508b.elementor-widget-heading .elementor-heading-title{color:#242424;}.elementor-11529 .elementor-element.elementor-element-8de508b .elementor-heading-title{font-family:"Work Sans", Sans-serif;font-size:25px;font-weight:600;line-height:1.3em;}.elementor-11529 .elementor-element.elementor-element-8de508b > .elementor-widget-container{padding:0px 0px 5px 0px;}.elementor-11529 .elementor-element.elementor-element-cbfc12c{color:#666666;font-family:"Palanquin", Sans-serif;font-weight:400;line-height:1.6em;}.elementor-11529 .elementor-element.elementor-element-cbfc12c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-a69cf9c > .elementor-container{max-width:802px;}.elementor-11529 .elementor-element.elementor-element-a69cf9c{margin-top:0px;margin-bottom:0px;padding:30px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-b7c5f76.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-11529 .elementor-element.elementor-element-b7c5f76 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-2e54ae7b a.elementor-button, .elementor-11529 .elementor-element.elementor-element-2e54ae7b .elementor-button{font-family:"Palanquin", Sans-serif;font-size:16px;font-weight:500;background-color:transparent;background-image:linear-gradient(180deg, #1bc187 0%, #00de91 100%);border-radius:5px 5px 5px 5px;padding:14.5px 30px 14.5px 30px;}.elementor-11529 .elementor-element.elementor-element-2e54ae7b .elementor-button{box-shadow:0px 24px 48px 0px rgba(17,16,62,0.12);}.elementor-11529 .elementor-element.elementor-element-2e54ae7b a.elementor-button:hover, .elementor-11529 .elementor-element.elementor-element-2e54ae7b .elementor-button:hover{box-shadow:0px 5px 10px 0px rgba(17,16,62,0.12);}.elementor-11529 .elementor-element.elementor-element-2e54ae7b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-3b71333e:not(.elementor-motion-effects-element-type-background), .elementor-11529 .elementor-element.elementor-element-3b71333e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f3fcfb;}.elementor-11529 .elementor-element.elementor-element-3b71333e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:80px;padding:0px 0px 0px 0px;z-index:1;}.elementor-11529 .elementor-element.elementor-element-3b71333e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11529 .elementor-element.elementor-element-38b9a0d8 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-11529 .elementor-element.elementor-element-38b9a0d8:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-38b9a0d8 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-11529 .elementor-element.elementor-element-38b9a0d8 > .elementor-element-populated, .elementor-11529 .elementor-element.elementor-element-38b9a0d8 > .elementor-element-populated > .elementor-background-overlay, .elementor-11529 .elementor-element.elementor-element-38b9a0d8 > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-11529 .elementor-element.elementor-element-38b9a0d8 > .elementor-element-populated{box-shadow:0px 0px 42px 0px rgba(0,0,0,0.12);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 40px 0px 0px;padding:2em 4em 0em 4em;}.elementor-11529 .elementor-element.elementor-element-38b9a0d8 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11529 .elementor-element.elementor-element-47d793fe .elementor-image img{box-shadow:0px 0px 42px 0px rgba(0, 0, 0, 0.2);}@media(min-width:768px){.elementor-11529 .elementor-element.elementor-element-cb9d77f{width:27%;}.elementor-11529 .elementor-element.elementor-element-6f8a20a{width:73%;}}@media(max-width:1024px){.elementor-11529 .elementor-element.elementor-element-29c93bc6 > .elementor-container{min-height:300px;}.elementor-11529 .elementor-element.elementor-element-29c93bc6 > .elementor-container:after{content:"";min-height:inherit;}.elementor-11529 .elementor-element.elementor-element-29c93bc6{padding:50px 25px 50px 25px;}.elementor-11529 .elementor-element.elementor-element-16e00e67 .elementor-heading-title{font-size:40px;line-height:1.2em;}.elementor-11529 .elementor-element.elementor-element-d8a27a{padding:50px 20px 50px 20px;}.elementor-11529 .elementor-element.elementor-element-1b4e260b > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-5b70d354 .elementor-heading-title{font-size:35px;}.elementor-11529 .elementor-element.elementor-element-7c73a853{font-size:16px;}.elementor-11529 .elementor-element.elementor-element-5cc98be8{margin-top:0px;margin-bottom:0px;padding:20px 0px 20px 0px;}.elementor-11529 .elementor-element.elementor-element-365b9f09 > .elementor-element-populated{margin:0px 20px 0px 20px;padding:0em 0em 0em 0em;}.elementor-11529 .elementor-element.elementor-element-266467ad .elementor-image img{width:100%;border-radius:5px 5px 5px 5px;}.elementor-11529 .elementor-element.elementor-element-f2903ca{padding:50px 20px 50px 20px;}.elementor-11529 .elementor-element.elementor-element-25600d9 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-8de508b .elementor-heading-title{font-size:35px;}.elementor-11529 .elementor-element.elementor-element-cbfc12c{font-size:16px;}.elementor-11529 .elementor-element.elementor-element-3b71333e{margin-top:0px;margin-bottom:0px;padding:20px 0px 20px 0px;}.elementor-11529 .elementor-element.elementor-element-38b9a0d8 > .elementor-element-populated{margin:0px 20px 0px 20px;padding:0em 0em 0em 0em;}.elementor-11529 .elementor-element.elementor-element-47d793fe .elementor-image img{width:100%;border-radius:5px 5px 5px 5px;}}@media(max-width:767px){.elementor-11529 .elementor-element.elementor-element-29c93bc6 > .elementor-container{min-height:200px;}.elementor-11529 .elementor-element.elementor-element-29c93bc6 > .elementor-container:after{content:"";min-height:inherit;}.elementor-11529 .elementor-element.elementor-element-29c93bc6{padding:50px 20px 50px 20px;}.elementor-11529 .elementor-element.elementor-element-5604698 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-11529 .elementor-element.elementor-element-16e00e67 .elementor-heading-title{font-size:30px;}.elementor-11529 .elementor-element.elementor-element-fcf195b{font-size:14px;}.elementor-11529 .elementor-element.elementor-element-d8a27a{padding:30px 20px 30px 20px;}.elementor-11529 .elementor-element.elementor-element-1b4e260b > .elementor-element-populated{margin:0px 0px 0px 0px;padding:1em 1em 1em 1em;}.elementor-11529 .elementor-element.elementor-element-5b70d354 .elementor-heading-title{font-size:22px;}.elementor-11529 .elementor-element.elementor-element-7c73a853{font-size:14px;}.elementor-11529 .elementor-element.elementor-element-5257f0aa .elementor-button{width:100%;}.elementor-11529 .elementor-element.elementor-element-5257f0aa > .elementor-widget-container{margin:20px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-34a5b264 > .elementor-element-populated{padding:25px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-5cc98be8{padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-365b9f09 > .elementor-element-populated{padding:0em 0em 0em 0em;}.elementor-11529 .elementor-element.elementor-element-f2903ca{padding:30px 20px 30px 20px;}.elementor-11529 .elementor-element.elementor-element-68a1dee > .elementor-element-populated{padding:25px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-25600d9 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:1em 1em 1em 1em;}.elementor-11529 .elementor-element.elementor-element-8de508b .elementor-heading-title{font-size:22px;}.elementor-11529 .elementor-element.elementor-element-cbfc12c{font-size:14px;}.elementor-11529 .elementor-element.elementor-element-2e54ae7b .elementor-button{width:100%;}.elementor-11529 .elementor-element.elementor-element-2e54ae7b > .elementor-widget-container{margin:20px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-3b71333e{margin-top:0px;margin-bottom:50px;padding:0px 0px 0px 0px;}.elementor-11529 .elementor-element.elementor-element-38b9a0d8 > .elementor-element-populated{padding:0em 0em 0em 0em;}}@media(max-width:1024px) and (min-width:768px){.elementor-11529 .elementor-element.elementor-element-1b4e260b{width:100%;}.elementor-11529 .elementor-element.elementor-element-34a5b264{width:100%;}.elementor-11529 .elementor-element.elementor-element-365b9f09{width:100%;}.elementor-11529 .elementor-element.elementor-element-68a1dee{width:100%;}.elementor-11529 .elementor-element.elementor-element-25600d9{width:100%;}.elementor-11529 .elementor-element.elementor-element-38b9a0d8{width:100%;}}
</style>
<link rel="stylesheet" id="lae-animate-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/animate.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-sliders-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/sliders.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-icomoon-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/icomoon.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-frontend-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/lae-frontend.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-widgets-styles-css" href="https://javra.com/wp-content/plugins/addons-for-elementor/assets/css/lae-widgets.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-5-all-css" href="https://javra.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/all.min.css?ver=2.8.5" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-4-shim-css" href="https://javra.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min.css?ver=2.8.5" type="text/css" media="all">
<link rel="stylesheet" id="gradient-button-elementor-frontend-style-css" href="https://javra.com/wp-content/plugins/gradient-button-for-elementor/assets/css/frontend.css?ver=1.0.2" type="text/css" media="all">
<link rel="stylesheet" id="google-fonts-1-css" href="https://fonts.googleapis.com/css?family=Work+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPalanquin%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.2.2" type="text/css" media="all">
<!--n2css--><script type="text/javascript" src="https://javra.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>
<script type="text/javascript" src="https://javra.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var Cli_Data = {"nn_cookie_ids":[],"cookielist":[]};
var log_object = {"ajax_url":"https:\/\/javra.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="https://javra.com/wp-content/plugins/cookie-law-info/public/js/cookie-law-info-public.js?ver=1.8.3"></script>
<script type="text/javascript" src="https://javra.com/wp-content/plugins/wp-google-analytics/wp-google-analytics.js?ver=0.0.3"></script>
<script type="text/javascript" src="https://javra.com/wp-content/plugins/elementor/assets/lib/font-awesome/js/v4-shims.min.js?ver=2.8.5"></script>
<link rel="https://api.w.org/" href="https://javra.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://javra.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://javra.com/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 5.2.2">
<link rel="shortlink" href="https://javra.com/?p=11529">
<link rel="alternate" type="application/json+oembed" href="https://javra.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fjavra.com%2Fproduct%2F">
        <script type="text/javascript">
            (function () {
                window.lae_fs = {can_use_premium_code: false};
            })();
        </script>
        <meta name="generator" content="Site Kit by Google 1.34.1"><!-- This code is added by WP Analytify (3.0.0) https://analytify.io/downloads/analytify-wordpress-plugin/ !-->				 <script>
				 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				 })

				 (window,document,'script','//www.google-analytics.com/analytics.js','ga');
				 	ga('create', 'UA-43570163-1', 'auto', {'allowLinker': true});ga('require', 'linker');ga('require', 'displayfeatures');ga('send', 'pageview');				 </script>

				 <!-- This code is added by WP Analytify (3.0.0) !-->		<style type="text/css" id="wp-custom-css">
			

/** Start Envato Elements CSS: STEM School (31-3-4002f7697450289dd8c14d79a1aaf5be) **/

/*--------------------------------------------------------------
>>> Collection 28 Custom Styles
--------------------------------------------------------------*/
.collection-28-curriculum-title{
	font-size:1.5em;
	line-height:1em;
}
.collection-28-curriculum{
	list-style-type:none;
	margin:0;
	padding:0;
}

.collection-28-curriculum li{
	list-style-type:none;
	padding:15px 0;
	margin:0;
	line-height:1em;
	font-weight:700;
	font-size:1em;
	border-bottom:1px solid #f0f0f0;
}


/** End Envato Elements CSS: STEM School (31-3-4002f7697450289dd8c14d79a1aaf5be) **/



/** Start Envato Elements CSS: Internet Company (196-3-c34cf4e6e385d14c4ccda531967d17a2) **/

/* Envato Custom css - applied to the advanced tab of the element it affects */
.envato-kit-200-progress .elementor-progress-wrapper,
.envato-kit-200-progress .elementor-progress-bar{
	border-radius: 30px;
}

/** End Envato Elements CSS: Internet Company (196-3-c34cf4e6e385d14c4ccda531967d17a2) **/



/** Start Envato Elements CSS: Tech (general business) (171-3-7eeb504fef9cb2162a4da0a664ed05a3) **/

/* Envato Template Kits Custom Styles
 * Apply to the Advanced tab of the element it affects
 * Illustrations by Humaaans
 */
.envato-kit-175-slide .slick-slide-bg.elementor-ken-out, .envato-kit-175-slide .slick-slide-bg.elementor-ken-in{
transform: scale(1.2);
}
.envato-kit-175-slide .slick-slider .slick-track{
	overflow: visible !important;
}
 /* List Style with icon BG */
.envato-kit-175-list-style-light .elementor-icon-list-icon {
		width: 50px !important;
}

.envato-kit-175-list-style-light .elementor-icon-list-icon i {
		padding: 0.75em;
		border-radius: 50%;
		background-color: #F5F7FF;
}

.envato-kit-175-list-style-extra .elementor-icon-list-icon {
		width: 50px !important;
}

.envato-kit-175-list-style-extra .elementor-icon-list-icon i {
		padding: 0.75em;
		border-radius: 50%;
		background-color: #FFB200;
}

.envato-kit-175-list-style-dark .elementor-icon-list-icon {
		width: 50px !important;
}

.envato-kit-175-list-style-dark .elementor-icon-list-icon i {
		padding: 0.75em;
		border-radius: 50%;
		background-color: #3235D8;
}
/* Accordion shadow*/
.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item {
		margin: 10px 0;
		border-radius: 20px;
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item:first-child {
		margin-top: 0;
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item .elementor-active {
		margin-bottom: 30px;
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item .elementor-tab-title {
		margin-bottom: 0;
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active {
		padding-bottom: 0;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item {
		margin: 30px 0;
		border: 10px solid #F5F7FF !important;
		border-radius: 20px;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item:first-child {
		margin-top: 0;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item .elementor-active {
		margin-bottom: 30px;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item .elementor-tab-title {
		margin-bottom: 0;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active {
		padding-bottom: 0;
}


.envato-kit-175-img-box-style .elementor-image-box-title {
		margin-top: 0;
}

.envato-kit-175-icon-box-style .elementor-icon-box-title {
		margin: 0;
}
/* Left-Aligned Pricing Tables */
.envato-kit-175-price-style .elementor-price-table {
		text-align: left;
}

.envato-kit-175-price-style .elementor-price-table .elementor-price-table__price {
		justify-content: start;
}


.envato-kit-175-price-style .elementor-price-table__features-list {
		text-align: left !important;
}

.envato-kit-175-price-style .elementor-price-table .elementor-price-table__features-list li .elementor-price-table__feature-inner  {
		margin-left: 0;
		margin-right: 0;
}

.envato-kit-175-price-style .elementor-price-table__feature-inner i {
		font-size: 1em;
		font-weight: 100;
		padding: 0.45em;
		border-radius: 50%;
		background-color: #f4f4f4;
	color: #ff4935 !important;
}

.envato-kit-175-price-style-extra .elementor-price-table {
		text-align: left;
}

.envato-kit-175-price-style-extra .elementor-price-table .elementor-price-table__price {
		justify-content: start;
}

.envato-kit-175-price-style-extra .elementor-price-table__features-list {
		text-align: left !important;
}

.envato-kit-175-price-style-extra .elementor-price-table .elementor-price-table__features-list li .elementor-price-table__feature-inner  {
		margin-left: 0;
		margin-right: 0;
}

.envato-kit-175-price-style-extra .elementor-price-table__feature-inner i {
		font-size: 1em;
		font-weight: 100;
		padding: 0.45em;
		border-radius: 50%;
		background-color: #f4f4f4;
}

.envato-kit-175-row-hover-style .elementor-column-wrap .elementor-heading-title {
		opacity: 0;
		transition: all .3s ease-in-out; 
}

.envato-kit-175-row-hover-style .elementor-column-wrap:hover .elementor-heading-title {
		opacity: 1; 
}


/** End Envato Elements CSS: Tech (general business) (171-3-7eeb504fef9cb2162a4da0a664ed05a3) **/



/** Start Envato Elements CSS: Social Media Consultant (165-3-9ce8c739f357b7e2adfaa19888a72e81) **/

/* Custom Embed Play Button */
.envato-kit-169-play-button .elementor-custom-embed-play {
	    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
    border-radius: 50%;
    height: 80px;
    border: 0;
    box-shadow: 0 0 0 15px rgba(255,255,255,.4);
	  -webkit-transition: .25s;
	  -moz-transition: .25s;
    transition: .25s;
    background: #fff;
}
.envato-kit-169-play-button .eicon-play {
	display: none;
}
.envato-kit-169-play-button .elementor-custom-embed-play:before {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 50%;
    margin-left: -4px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent #212529;
}
.envato-kit-169-play-button:hover .elementor-custom-embed-play {
	    
    box-shadow: 0 0 0 10px rgba(255,255,255,.2);
}

/** End Envato Elements CSS: Social Media Consultant (165-3-9ce8c739f357b7e2adfaa19888a72e81) **/



/** Start Envato Elements CSS: Insurance (30-3-509236f77923f6d33d921087956434d0) **/

/* Envato custom css for elementor kit 27 */
/* Icons from https://www.flaticon.com/ */

/* Tab */
.tab-content{
  width:65%;
	float:left;
}
.tab-img{
	width:35%;
	float:left;
	padding-right: 30px;
}

.tab-content h3{
	font-size: 28px;
	font-weight:700;
	color:#222;
}
.elementor-widget-tabs .elementor-tab-content{
	background:#fff;
	padding:40px;
}
.elementor-widget-tabs .elementor-tab-title.elementor-active{
	background:#fff;
}
.elementor-widget-tabs .elementor-tab-title{
	padding: 20px 45px;
}

/* Team single Progress Bar */
.team-info{
	color:#a7a7a7;
	margin-bottom:5px;
	font-family: Sans-serif;
}

.team-info i{
	margin-right:6px;
}

/* Progress bar */
.elementor-progress-wrapper{
	height: 20px;
	line-height: 20px;
}

.mobile{
		display: none;
	}

	
.not-mobile{
		display: block;
	}

/* Responsive Mobile */
@media (max-width : 767px){
	.tab-content {
			width: 100%;
	}
	.tab-img{
		width:100%;
		padding-right: 0;
	}
	.tab-content h3{
		font-size: 20px;
		margin-top: 20px;
	}

	.mobile{
		display: block;
	}
	
	.not-mobile{
		display: none;
	}
}



/* Global */
h3:first-child{
   padding-top: 0;
	 margin-top:0;
}



/** End Envato Elements CSS: Insurance (30-3-509236f77923f6d33d921087956434d0) **/



/** Start Envato Elements CSS: Winery (89-3-caa589d723d52042b24b880dea8598fd) **/

/* Kit 98 Custom Styles - apply under Advanced to the element they affect */
/* Subheading side line */
.envato-kit-98-line-before .elementor-heading-title:before {
	  content: '';
	  border-bottom: 1px solid;
    width: 48px;
    height: 1px;
    margin-right: 11px;
    display: inline-block;
    margin-bottom: 3px;
    opacity: .6;
}
/* Subheading lines on both sides */
.envato-kit-98-line-sides .elementor-heading-title:before {
	  content: '';
	  border-bottom: 1px solid;
    width: 48px;
    height: 1px;
    margin-right: 11px;
    display: inline-block;
    margin-bottom: 3px;
    opacity: .6;
}
.envato-kit-98-line-sides .elementor-heading-title:after {
	  content: '';
	  border-bottom: 1px solid;
    width: 48px;
    height: 1px;
    margin-left: 11px;
    display: inline-block;
    margin-bottom: 3px;
    opacity: .6;
}
/* Slider overlay */
.envato-kit-98-overlay .elementor-background-overlay{
   background: linear-gradient(to right, rgba(255,255,255,.1) 20%,rgba(255,255,255,1) 100%);
   mix-blend-mode: unset !important;
}
/* Typography */
.envato-kit-98-link a {
	color: #878787;
}

.envato-kit-98-link a:hover {
	border-bottom: 1px dashed;
}

/** End Envato Elements CSS: Winery (89-3-caa589d723d52042b24b880dea8598fd) **/
.main-navigation .right-nav {
    width: auto;
    padding-left: 0;
}


footer .mc4wp-response
{
	    position: absolute;
    font-size: 12px;
    bottom: -40px;
    right: 45px;
}
b, strong {
    font-family: inherit;
}
.address_block {
    margin-bottom: 0px;
}
.email-block a 
{
	font-size:15px;
}

@media only screen and (max-width: 768px) {
	.address_block p {
    font-size: 15px;
    text-decoration: none;
}
#contactinformation_widget-3 .address_block p:before {
display:none;
}
}		</style>
		</head>














    <body>
       <div id="content" class="site-content">
		<div data-elementor-type="wp-post" data-elementor-id="11529" class="elementor elementor-11529" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-29c93bc6 elementor-section-content-middle elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="29c93bc6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-no">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5604698 elementor-column elementor-col-100 elementor-top-column" data-id="5604698" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-16e00e67 elementor-widget elementor-widget-heading" data-id="16e00e67" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default">{{ pimcore_input("title") }}</h1>		</div>
				</div>
				<div class="elementor-element elementor-element-fcf195b elementor-widget elementor-widget-text-editor" data-id="fcf195b" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p> {{  pimcore_wysiwyg("subTitle") 
    }}</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>



		<div class="container">
        	<div class="row">
				<div class="col-lg-6 mb-4">
					<div class="card text-center">
						<div class="card-body">
						<br>
							<h5 class="card-title">{{pimcore_input('box1title1')}}</h5>
							<p class="card-text">
							{{pimcore_wysiwyg('box1subtitle1')}}
							</p>
							<a href="https://javra.com/product/" ><button type="button" class="btn btn-success">Learn more</button></a>
						</div>
					</div>
				</div>
			<br>
				<div class="col-lg-6 mb-4">
					<div class="card">
						<div class="card-body">
							{{pimcore_image('image1',{'thumbnail':'pimcore'})}}
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    
		
		<br>


		<div class="container">
			<div class="row">
				
					<div class="col-lg-6 mb-4">
						<div class="card">
							<div class="card-body">
							<div class="not-mobile">
							{{pimcore_image('image2',{'thumbnail':'pimcore'})}}	
							</div>	
						</div>
					</div>
				</div>
				<br>
				<div class="col-lg-6 mb-4">
					<div class="card text-center">
						<div class="card-body">
						<br>
							<h5 class="card-title">{{pimcore_input('box1title2')}}</h5>
							<p class="card-text">
									{{pimcore_wysiwyg('box1subtitle2')}}
							</p>
							<a href="https://javra.com/product/"> <button type="button" class="btn btn-success">Learn more</button></a>							
						</div>
					</div>
				</div>
				
					<div class="col-lg-6 mb-4">
						<div class="card">
							<div class="card-body">
							<div class="mobile">
							{{pimcore_image('image2m',{'thumbnail':'pimcore'})}}	
							</div>	
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	

		<br>

	    <div class="container">
			<div class="row">
				<div class="col-lg-6 mb-4">
					<div class="card text-center">
						<div class="card-body">
						<br>
							<h5 class="card-title">{{pimcore_input('box2title1')}}</h5>
							<p class="card-text">
							{{pimcore_wysiwyg('box2subtitle1')}}
							</p>
							<a href="https://javra.com/product/"> <button type="button" class="btn btn-success">Learn more</button></a>
						
						</div>
					</div>
				</div>
				<br>
				<div class="col-lg-6 mb-4">
					<div class="card">
						<div class="card-body">
							{{pimcore_image('image3',{'thumbnail':'pimcore'})}}                                                    
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<br>
        <div class="container">
			<div class="row">
				<div class="col-lg-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="not-mobile">
								<p class="card-text">
								{{pimcore_image('image4m',{'thumbnail':'pimcore'})}}
								<p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-6 mb-4">
					<div class="card text-center">
						<div class="card-body">
						<br>
							<h5 class="card-title">{{pimcore_input('box2title2')}}</h5>
							<p class="card-text">
								{{pimcore_wysiwyg('box2subtitle2')}}
							</p>
							<a href="https://javra.com/product/"> <button type="button" class="btn btn-success">Learn more</button></a>
							</div>
					</div>
				</div>
			
				<div class="col-lg-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="mobile">
								<p class="card-text">
								{{pimcore_image('image4',{'thumbnail':'pimcore'})}}
								<p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		







						</div>
			</div>
		</div>
		<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-43570163-1']);
_gaq.push(['_setCustomVar', 1, 'Categories', '']);
_gaq.push(['_setCustomVar', 2, 'Context', 'page']);
_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

</div>
    </body>
</html>